# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
*.jks
*.keystore

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/*.xcworkspace
ios/DerivedData/
ios/profile/
ios/.generated/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
*.env
lib/core/config/app_config.dart

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart

# Coverage
coverage/
